@import "tailwindcss";

@theme {
    --color-lime: #B2FA63;
    --color-forest: #243838;
    --color-sun: #FF7833;
    --color-lavender: #B2A1FF;
    --color-silver: #E2E4E7;
    --color-chalk: #F6F4F1;
    --color-sand: #E2CC9C;
    --font-title: 'Funnel Display', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --text-huge: 12rem;
}
