@import "tailwindcss";

@theme {
    --color-hiyellow: #EDFF00;
    --color-calmgrey:#E7E6E2;
    --color-deepgrey:#020204;
    --font-eleganttitle: 'Lexend Exa', serif;
    --font-major: 'Montserrat', sans-serif;
    --font-title: 'Funnel Display', sans-serif;
    --text-huge: 12rem;
}